
/* Pour styliser chaque card */
.card {
  width: 300px; /* Définir une largeur fixe pour chaque card */
  margin-bottom: 40px; /* Espacement entre les cards */
}


/* Pour aligner les cards et les faire s'adapter à la taille de l'écran */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;/* Ajuste l'espacement entre les cards */
  margin-top: 5px;
}

/* Pour uniformiser la taille des photos des cards */
.card-img-top {
  width: 100%; /* La photo prend toute la largeur de la card */
  height: 200px; /* Hauteur fixe pour toutes les photos */
  object-fit: cover; /* Redimensionne la photo pour qu'elle remplisse entièrement le conteneur */
}

/* Pour styliser le titre en h3 */
.card-title {
  font-size: 1.25rem; /* Taille de la police */
  margin-top: 10px; /* Espacement avec la photo de la card */
  margin-bottom: 20px/* Espacement avec la card du dessous */
}
